<div class="container-fluid cf-max-width py-5" id="addDrink">

  <div class="d-flex justify-content-center align-items-center mb-3">
    <h4 class="m-0 ml-auto text-uppercase">
      {{ "labels.drinksList" | translate }}
    </h4>
    <button mat-icon-button class="ml-auto" (click)="close.emit()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <form [formGroup]="addDrinkForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div formArrayName="drinks" *ngFor="let control of getDrinkControls(); let i = index;">
      <div [formGroupName]="i" class="d-flex flex-column justify-content-between align-items-between m-0">
        <div class="heading-with-line d-flex align-items-end" *ngIf="i == 0">
          <mat-label>
            {{ "labels.drinks" | translate }}
          </mat-label>
          <div class="flex-fill ml-3"></div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div>
            <mat-label [class.visibility-none]="i > 0">
              {{ "labels.name" | translate }}
            </mat-label>

            <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
              <input matInput formControlName="name" />
              <mat-error>
                {{ 'labels.name' | translate }}
                {{ 'labels.isRequired' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mx-1"></div>

          <div>
            <mat-label [class.visibility-none]="i > 0">
              {{ "labels.price" | translate }}
            </mat-label>

            <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
              <input matInput formControlName="price"/>
              <mat-error *ngIf="control.get('price').hasError('required')">
                {{ 'labels.price' | translate }}
                {{ 'labels.isRequired' | translate }}
              </mat-error>
              <mat-error *ngIf="control.get('price').hasError('pattern')">
                {{ "labels.price" | translate }}
                {{ "errors.canContainOnlyDigits" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <button mat-icon-button class="mt-4" type="button" (click)="removeDrink(i)">
            <i class="fas fa-trash text-primary"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="alert alert-success" *ngIf="showSuccessMsg">
      {{ 'messages.drinksUpdated' | translate }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showSuccessMsg = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <button type="button" class="btn btn-info btn-block mt-4" (click)="addDrink()">
      <i class="fas fa-plus-circle mr-2"></i>
      {{ "labels.addDrink" | translate }}
    </button>

    <button type="submit" class="btn btn-primary btn-block save-btn mt-4">
      <div class="spinner-border" role="status" *ngIf="loading; else notLoading">
        <span class="sr-only">Loading...</span>
      </div>
      <ng-template #notLoading>
        {{ "labels.save" | translate }}
      </ng-template>
    </button>
  </form>
</div>
