<div [ngSwitch]="section">
  <div *ngSwitchCase="sections.menu">
    <div class="container-fluid cf-max-width py-5">
      <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <h4 class="m-0 text-uppercase">
          {{ "labels.menu" | translate }}
        </h4>
        <div class="mt-2" *ngIf="commonObj?.mealsCategoriesOrder?.length; else noMenu">
          <p
            class="m-0 text-muted cursor-pointer"
            (click)="editMode = !editMode"
            *ngIf="!editMode; else editBtn">
            <span><i class="far fa-edit mr-2"></i></span>
            <span>
              {{ "labels.editDetails" | translate }}
            </span>
          </p>
          <ng-template #editBtn>
            <button class="btn btn-red done-btn" (click)="submit()" [disabled]="loading">
              <div class="spinner-border" role="status" *ngIf="loading; else notLoading">
                <span class="sr-only">Loading...</span>
              </div>
              <ng-template #notLoading>
                {{ "labels.done" | translate }}
              </ng-template>
            </button>
          </ng-template>
        </div>

        <ng-template #noMenu>
          <div class="w-100 my-3" *ngIf="!loading">
            <button class="btn btn-info btn-block" (click)="updateSection(sections.manageCategory)">
              <i class="fas fa-plus-circle mr-2"></i>
              {{ 'labels.addCategory' | translate }}
            </button>
          </div>
        </ng-template>
      </div>

      <div cdkDropList (cdkDropListDropped)="dropCategory($event)" >
        <div
          *ngFor="let category of commonObj?.mealsCategoriesOrder"
          class="mb-4"
          cdkDrag
          [cdkDragDisabled]="!editMode">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center" style="max-width: 30%;">
              <i class="mr-2 fas fa-bars drag-handle noselect" cdkDragHandle *ngIf="editMode"></i>
              <mat-label class="text-ellipsis font-weight-bold">{{category}}</mat-label>
            </div>
            <div class="flex-fill border-bottom w-auto mx-3"></div>
            <div *ngIf="editMode" class="d-flex">
              <button
                (click)="editCategory(category)"
                class="btn ml-2 d-flex align-items-center justify-content-center add-meal-btn">
                <i class="fas fa-pen text-primary add-icon"></i>
              </button>
              <button
                (click)="deleteCategory(category)"
                class="btn ml-2 d-flex align-items-center justify-content-center add-meal-btn">
                <i class="fas fa-trash text-primary add-icon"></i>
              </button>
            </div>
          </div>

          <div class="meal-list p-0" cdkDropList (cdkDropListDropped)="dropMeal($event, category)">
            <div
              *ngFor="let meal of categoriesMealsMap[category]"
              cdkDrag
              [cdkDragDisabled]="!editMode"
              class="my-2">
              <div class="d-flex align-items-center">
                <i class="mr-2 fas fa-bars drag-handle ml-2 noselect" cdkDragHandle *ngIf="editMode"></i>
                <div class="flex-fill d-flex align-items-center">
                  <div class="w-50 text-ellipsis">
                    <img [src]="meal?.picPathSmall || constants.imgPath.noImg" class="rounded mr-2" width="50" height="50">
                    <span class="meal-name font-weight-bold">{{meal.mealName}}</span>
                  </div>
                  <div class="flex-fill d-flex" *ngIf="editMode">
                    <button
                      (click)="editMeal(meal)"
                      class="btn ml-2 d-flex align-items-center justify-content-center add-meal-btn">
                      <i class="fas fa-pen text-primary add-icon"></i>
                    </button>
                    <button
                      (click)="deleteMeal(meal, category)"
                      class="btn ml-2 d-flex align-items-center justify-content-center add-meal-btn">
                      <i class="fas fa-trash text-primary add-icon"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
              (click)="onAddMealClick(category)"
              class="btn d-flex align-items-center justify-content-center add-meal-btn"
              *ngIf="editMode">
              <i class="fas fa-plus text-primary add-icon"></i>
          </button>

        </div>
      </div>

      <button
        *ngIf="editMode"
        (click)="openDrinksDialog()"
        class="btn btn-primary btn-block">
        {{'labels.drinks' | translate}} ({{drinksCount}})
      </button>

      <button
        *ngIf="editMode && commonObj?.mealsCategoriesOrder?.length"
        (click)="clearMenu()"
        class="btn btn-danger btn-block mt-3">
        {{'labels.clearMenu' | translate}}
      </button>
    </div>

    <div class="mr-4 preview-fab-container" *ngIf="editMode">
        <button mat-fab class="bg-primary" (click)="updateSection(sections.manageCategory)">
          <i class="fas fa-plus add-icon"></i>
        </button>
    </div>

  </div>

  <div [@sectionAnimation] *ngSwitchCase="sections.manageCategory">
    <app-add-category
      [commonObj]="commonObj"
      [categoryToEdit]="categoryToEdit"
      (close)="updateSection(sections.menu); categoryToEdit = null"
      (updateCommon)="onCommonUpdate($event)"
      (categoryEdited)="onCategoryEdited($event)">
    </app-add-category>
  </div>

  <div [@sectionAnimation] *ngSwitchCase="sections.manageMeal">
    <app-add-meal
      [meals]="getAllMealsFromMap()"
      [mealToEdit]="mealToEdit"
      [category]="addMealCategory"
      (close)="updateSection(sections.menu); mealToEdit = null"
      (mealAdded)="onMealAdded($event)"
      (mealEdited)="onMealEdited($event)">
    </app-add-meal>
  </div>

  <!-- <div [@sectionAnimation] *ngSwitchCase="sections.drinks">
    <app-add-drink
      (close)="updateSection(sections.menu)">
    </app-add-drink>
  </div> -->

</div>