<div>
  <form class="container-fluid cf-max-width py-5" [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="d-flex justify-content-center align-items-center position-relative mb-3">
      <h4 class="m-0 text-uppercase">
        <span *ngIf="categoryToEdit; else addCategory">
          {{ "labels.editCategory" | translate }}
        </span>
        <ng-template #addCategory>
          {{ "labels.addCategory" | translate }}
        </ng-template>
      </h4>
      <button mat-icon-button class="position-absolute" style="right: 0;" (click)="close.emit()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="form-group mb-3">
      <mat-label>
        {{ "labels.name" | translate }}
      </mat-label>

      <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
        <input matInput formControlName="name"/>
        <mat-error *ngIf="addCategoryForm.get('name').hasError('required')">
          {{ "labels.name" | translate }}
          {{ "messages.isRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="addCategoryForm.get('name').hasError('categoryExists')">
          {{ 'errors.categoryExists' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <button type="button" class="btn btn-primary btn-block" type="submit">
      <span *ngIf="categoryToEdit; else addCategory">
        {{ "labels.save" | translate }}
      </span>
      <ng-template #addCategory>
        {{ "labels.add" | translate }}
      </ng-template>
    </button>

  </form>
</div>