<div>
    <div class="container-fluid cf-max-width py-5" style="max-width: 400px;">
      <div class="d-flex justify-content-center align-items-center position-relative mb-3">
        <h4 class="m-0 text-uppercase">
          {{ "labels.addPhoto" | translate }}
        </h4>
        <button mat-icon-button class="position-absolute" style="right: 0;" (click)="close.emit()">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div style="background-color: #EFEFEF" class="py-3 px-2">
        <div class="img-container d-flex flex-column justify-content-center align-items-center">
          <p *ngIf="!sourceData.imgSrc; else imgSection">
            {{'messages.noImgSet' | translate}}
          </p>

          <ng-template #imgSection>
            <img [src]="sourceData.imgSrc" alt="" style='height: 100%; width: 100%; object-fit: contain'>
          </ng-template>
        </div>

        <input #imgInput class="d-none" type="file" (change)="fileChangeEvent($event)" accept="image/*"/>

        <div class="image-actions d-flex justify-content-center mt-3">
          <button mat-stroked-button (click)="imgInput.click()">
            <i class="fas fa-camera"></i>
          </button>

          <!-- <button mat-stroked-button >
            <i class="fas fa-crop-alt"></i>
          </button> -->
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-block mt-5" (click)="returnPhoto()">
        {{ "labels.add" | translate }}
      </button>
    </div>
  </div>
