@import '../dashboard.component.scss';

.outer-div{
    height:255px;
    img{
        height:200px;
        width:100%;
        object-fit: cover;
    }
}

.logo-container {
    z-index: 1;
    height:85px;
    width: 85px;
    margin-right: auto;
    top: 55px;
    left: 35px;
    border-radius:10px;
    img{
        border-radius: 10px;
        border: 4px solid white;
        height:85px;
        width:100%;
        object-fit: cover;
    }

    &.edit-mode {
        top: calc(55px + 1rem);
        background: rgba(0,0,0,.65);
        img {
            position: relative;
            right: 0.5rem;
            opacity: 0.2;
        }
    }
}

.done-btn {
    border-radius: 20px;
    width: 120px;
}

.name-input {
    font-size: 1.5rem;
}

.opacity-p6 {
    opacity: 0.6;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

.blur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.change-cover-icon {
    z-index: 1;
    // font-size: 2rem;
}

