<section id="details">
  <div [hidden]="section !== sections.details">

    <form class="container-fluid pb-5" style="max-width: 600px;" [formGroup]="detailsForm" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="outer-div d-flex flex-column justify-content-end align-items-end">
        <div class="position-relative logo-container" [class.edit-mode]="editMode">
          <div
            class="border d-flex flex-column justify-content-center align-items-center bg-white h-100 w-100"
            *ngIf="!logoPic; else restaurantLogo"
            (click)="editMode && addPhoto(pictureTypes.logo)">
            <i class="fas fa-plus" *ngIf="editMode; else noEdit"></i>
            <ng-template #noEdit>
              <div class="spinner-border" role="status" *ngIf="loading; else notLoading">
                <span class="sr-only">Loading...</span>
              </div>
              <ng-template #notLoading>
                <span class="text-center">{{'messages.noImgSet' | translate}}</span>
              </ng-template>
            </ng-template>
          </div>
          <ng-template #restaurantLogo>
            <div
              (click)="editMode && addPhoto(pictureTypes.logo)"
              class="d-flex align-items-center justify-content-center position-relative w-100 h-100">
              <i class="fas fa-pen position-relative text-white" style="left: 50%;" *ngIf="editMode"></i>
              <img [src]="logoPic"/>
            </div>
          </ng-template>
        </div>

        <div
          class="border d-flex flex-column justify-content-center align-items-center bg-white h-100 w-100"
          *ngIf="!coverPic; else restaurantCover"
          (click)="editMode && addPhoto(pictureTypes.cover)"
          style="min-height:200px;">
          <i class="fas fa-plus" *ngIf="editMode; else noEdit"></i>
          <ng-template #noEdit>
            <div class="spinner-border" role="status" *ngIf="loading; else notLoading">
              <span class="sr-only">Loading...</span>
            </div>
            <ng-template #notLoading>
              <span class="text-center">{{'messages.noImgSet' | translate}}</span>
            </ng-template>
          </ng-template>
        </div>

        <ng-template #restaurantCover>
          <div
            (click)="editMode && addPhoto(pictureTypes.cover)"
            class="position-relative w-100">
            <i class="fas fa-pen position-relative text-white change-cover-icon" style="left: 50%; top:50%" *ngIf="editMode"></i>
            <img [class.blur]="editMode" [src]="coverPic"/>
          </div>
        </ng-template>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center my-4">
        <div class="my-2">
          <h3 class="mb-1 font-weight-bold text-center" *ngIf="detailsForm.controls['nameUnique'].value; else noName">
            {{ detailsForm.controls['nameUnique'].value }}
          </h3>
          <ng-template #noName>
            <h4 class="text-muted"><i>-</i></h4>
          </ng-template>
        </div>

        <p class="m-0 text-muted cursor-pointer" (click)="enableEditMode()" *ngIf="!editMode && !loading; else editBtn">
          <span><i class="far fa-edit mr-2"></i></span>
          <span>
            {{ "labels.editDetails" | translate }}
          </span>
        </p>
        <ng-template #editBtn>
          <button class="btn btn-primary done-btn" type="submit" [disabled]="loading">
            <div class="spinner-border" role="status" *ngIf="loading; else notLoading">
              <span class="sr-only">Loading...</span>
            </div>

            <ng-template #notLoading>
              {{ "labels.done" | translate }}
            </ng-template>
          </button>
        </ng-template>
      </div>

      <div class="form-group">
        <mat-label>
          {{ "labels.restaurantName" | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
          <input matInput formControlName="nameUnique"/>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>
          {{ "labels.description" | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
          <input matInput formControlName="restDesc"/>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>
          {{ "labels.location" | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
          <input matInput disabled [value]="getLocationValue()"/>
          <i *ngIf="editMode" class="fas fa-times cursor-pointer text-danger" matSuffix (click)="clearLocation()"></i>
          <i *ngIf="editMode" class="fas fa-location-arrow cursor-pointer text-primary ml-3" matSuffix (click)="setPosition()"></i>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>
          {{ "labels.restaurantPhone" | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
          <input matInput formControlName="restPhoneNumber"/>
          <mat-error>{{ "labels.restaurantPhone" | translate }} {{ 'errors.digitsLong' | translate:{ digits: 9 } }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>
          {{ "labels.contactName" | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
          <input matInput formControlName="contactName"/>
          <mat-error>{{ "labels.contactName" | translate }} {{ 'errors.canContainOnlyText' | translate }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>
          {{ "labels.contactNumber" | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
          <input matInput formControlName="contactNumber"/>
          <mat-error>{{ "labels.contactNumber" | translate }} {{ 'errors.digitsLong' | translate:{ digits: 10 } }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-label>
          {{ "labels.preparingTime" | translate }}
        </mat-label>

        <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
          <input matInput formControlName="preparingTime"/>
        </mat-form-field>
      </div>

      <div class="heading-with-line d-flex align-items-end">
        <h4 class="m-0 text-primary">
          {{ "labels.openHours" | translate }}
        </h4>
        <div class="flex-fill ml-3"></div>
      </div>

      <div class="form-group" formArrayName="openHours" *ngFor="let control of getDayControls(); let i = index;">
        <div [formGroupName]="i">
          <mat-label>
            {{ getLabelForDay(i) | translate }}
          </mat-label>

          <div class="d-flex align-items-center">
            <div class="d-flex flex-fill align-items-center">
              <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
                <input matInput type="time" formControlName="from"/>
              </mat-form-field>

              <div class="mx-2">
                —
              </div>

              <mat-form-field appearance="outline" class="w-100 mat-field-no-margin input-no-label" color="primary">
                <input matInput type="time" formControlName="to"/>
              </mat-form-field>
            </div>

            <div class="checkbox-container ml-2" [class.opacity-p6]="!editMode">
              <input
                type="checkbox"
                [id]="i"
                formControlName="active"
                (ngModelChange)="switchOffHours($event, i)"/>
              <label [for]="i"><span></span></label>
            </div>
          </div>
        </div>
      </div>

      <button *ngIf="restaurant" class="btn btn-danger btn-block mt-5" (click)="clearDetails()">
        {{ 'labels.clearDetails' | translate }}
      </button>
    </form>
  </div>

  <div [@sectionAnimation] *ngIf="section === sections.addPhoto">
    <app-add-details-photo
      [sourceData]="sourceData"
      (close)="onAddPhotoClose($event)">
    </app-add-details-photo>
  </div>
</section>