
@import './customize-bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:focus { outline:0 !important; }

.w-35 {
  width: 35% !important;
}

.w-60 {
  width: 60% !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.font-weight-500 {
  font-weight: 500 !important;
}

mat-label {
  color: $color-primary !important;
  font-weight: 500;
}

.mat-form-field-outline {
  background-color: $color-muted;
}

.mat-input-element {
  font-weight: 500 !important;
}

.mat-field-no-margin {
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: unset !important;
  }

  .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }
  // dropdown specific styling
  &.dropdown {
      .mat-form-field-infix {
          padding: 0 !important;
          margin: 0 !important;
          border: 0;
      }
      .mat-form-field-label-wrapper {
          top: 0;
          padding: 0;
      }
  }

  &.input-no-label {
      .mat-form-field-infix {
          border: 0;
      }
      .mat-input-element {
          margin-top: 0.25em;
      }
  }
}

.mat-ink-bar {
  visibility: hidden !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  &:not(.mat-form-field-invalid) {
    color: $color-primary;
  }
}

.heading-with-line {
  margin: 20px 0;
  div {
      border-bottom: 1px solid #6FD1BC;
  }
}

.mat-button {
  &.mat-primary {
    color: $color-primary;
  }
}

.mat-input-element {
  &:disabled {
    color: rgba(0, 0, 0, 0.5);
  }
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

#dashboard {
  .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-tab-label {
    min-width: 200px !important;
  }

  .mat-tab-labels {
    background: $color-primary !important;

    .mat-tab-label {
      border-top-right-radius: 10px;
      &:not(:first-child) {
        border-top-left-radius: 10px;
      }
      background-color: #D1D1D1 !important;
      color: white;
      opacity: 1 !important;
      height: 40px;
      &.mat-tab-label-active {
        color: $color-primary;
        background-color: white !important;
      }
      &:last-child, &:first-child {
        padding: 0 10px;

        background-color: unset !important;
        &:last-child {
          margin-left: auto;
        }
        &:first-child {
          margin-right: auto;
        }
      }
    }
  }

  .mat-tab-body-wrapper {
    height: 100% !important;
  }

  @media (max-width: 711px) {
    .mat-tab-label {
      min-width: 130px !important;
    }
  }

  @media (max-width: 499px) {
    .mat-tab-label {
      min-width: 25px !important;
    }
  }
}

#details {
  @media (max-width: 529px) {
    .mat-form-field-infix {
      width: 70px !important;
    }
  }
}